In [1]:
!pip install import_ipynb

Collecting import_ipynb
  Downloading import-ipynb-0.1.3.tar.gz (4.0 kB)
Building wheels for collected packages: import-ipynb
  Building wheel for import-ipynb (setup.py): started
  Building wheel for import-ipynb (setup.py): finished with status 'done'
  Created wheel for import-ipynb: filename=import_ipynb-0.1.3-py3-none-any.whl size=2975 sha256=52c4e3ebfa5aec257614c26e8ff73867aa974409f1c73e6a18d7941dc55d6a36
  Stored in directory: c:\users\kny84\appdata\local\pip\cache\wheels\06\7e\ad\1cb03e935234186825cefc7e2c8f3451b4f654b5bc72232a7b
Successfully built import-ipynb
Installing collected packages: import-ipynb
Successfully installed import-ipynb-0.1.3

In [2]:
# 필요한 모듈들
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt 
%matplotlib inline   
import xlrd
import wbgapi as wb

### 지역 코드

In [4]:
wb.region.info() # 지역 코드

code    name
------  -----------------------------------------------------
AFE     Africa Eastern and Southern
AFR     Africa
AFW     Africa Western and Central
ARB     Arab World
CAA     Sub-Saharan Africa (IFC classification)
CEA     East Asia and the Pacific (IFC classification)
CEB     Central Europe and the Baltics
CEU     Europe and Central Asia (IFC classification)
CLA     Latin America and the Caribbean (IFC classification)
CME     Middle East and North Africa (IFC classification)
CSA     South Asia (IFC classification)
CSS     Caribbean small states
EAP     East Asia & Pacific (excluding high income)
EAR     Early-demographic dividend
EAS     East Asia & Pacific
ECA     Europe & Central Asia (excluding high income)
ECS     Europe & Central Asia
EMU     Euro area
EUU     European Union
FCS     Fragile and conflict affected situations
HPC     Heavily indebted poor countries (HIPC)
LAC     Latin America & Caribbean (excluding high income)
LCN     Latin America & Caribbean
LDC     Least developed countries: UN classification
LTE     Late-demographic dividend
MDE     Middle East (developing only)
MEA     Middle East & North Africa
MNA     Middle East & North Africa (excluding high income)
NAC     North America
NAF     North Africa
NRS     Non-resource rich Sub-Saharan Africa countries
OED     OECD members
OSS     Other small states
PRE     Pre-demographic dividend
PSS     Pacific island small states
PST     Post-demographic dividend
RRS     Resource rich Sub-Saharan Africa countries
SAS     South Asia
SSA     Sub-Saharan Africa (excluding high income)
SSF     Sub-Saharan Africa
SST     Small states
SXZ     Sub-Saharan Africa excluding South Africa
WLD     World
XZN     Sub-Saharan Africa excluding South Africa and Nigeria
        44 elements

## 여성이 자신이 남편에게 맞아도 된다고 믿는 데이터 모음
### 데이터 특징 : 1999년 ~ 2020년까지가 non-null 값, 나머지는 결측치.

In [22]:
arguZS = wb.data.DataFrame('SG.VAW.ARGU.ZS')
burnZS = wb.data.DataFrame('SG.VAW.BURN.ZS')
goesZS = wb.data.DataFrame('SG.VAW.GOES.ZS')
neglZS = wb.data.DataFrame('SG.VAW.NEGL.ZS')
refuZS = wb.data.DataFrame('SG.VAW.REFU.ZS')

In [12]:
arguZS.info()

<class 'pandas.core.frame.DataFrame'>
Index: 266 entries, ABW to ZWE
Data columns (total 61 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   YR1960  0 non-null      float64
 1   YR1961  0 non-null      float64
 2   YR1962  0 non-null      float64
 3   YR1963  0 non-null      float64
 4   YR1964  0 non-null      float64
 5   YR1965  0 non-null      float64
 6   YR1966  0 non-null      float64
 7   YR1967  0 non-null      float64
 8   YR1968  0 non-null      float64
 9   YR1969  0 non-null      float64
 10  YR1970  0 non-null      float64
 11  YR1971  0 non-null      float64
 12  YR1972  0 non-null      float64
 13  YR1973  0 non-null      float64
 14  YR1974  0 non-null      float64
 15  YR1975  0 non-null      float64
 16  YR1976  0 non-null      float64
 17  YR1977  0 non-null      float64
 18  YR1978  0 non-null      float64
 19  YR1979  0 non-null      float64
 20  YR1980  0 non-null      float64
 21  YR1981  0 non-null      float64
 22  YR1982  0 non-null      float64
 23  YR1983  0 non-null      float64
 24  YR1984  0 non-null      float64
 25  YR1985  0 non-null      float64
 26  YR1986  0 non-null      float64
 27  YR1987  0 non-null      float64
 28  YR1988  0 non-null      float64
 29  YR1989  0 non-null      float64
 30  YR1990  0 non-null      float64
 31  YR1991  0 non-null      float64
 32  YR1992  0 non-null      float64
 33  YR1993  0 non-null      float64
 34  YR1994  0 non-null      float64
 35  YR1995  0 non-null      float64
 36  YR1996  0 non-null      float64
 37  YR1997  0 non-null      float64
 38  YR1998  0 non-null      float64
 39  YR1999  1 non-null      float64
 40  YR2000  6 non-null      float64
 41  YR2001  5 non-null      float64
 42  YR2002  4 non-null      float64
 43  YR2003  9 non-null      float64
 44  YR2004  5 non-null      float64
 45  YR2005  16 non-null     float64
 46  YR2006  24 non-null     float64
 47  YR2007  11 non-null     float64
 48  YR2008  8 non-null      float64
 49  YR2009  8 non-null      float64
 50  YR2010  10 non-null     float64
 51  YR2011  9 non-null      float64
 52  YR2012  13 non-null     float64
 53  YR2013  12 non-null     float64
 54  YR2014  10 non-null     float64
 55  YR2015  8 non-null      float64
 56  YR2016  12 non-null     float64
 57  YR2017  6 non-null      float64
 58  YR2018  12 non-null     float64
 59  YR2019  2 non-null      float64
 60  YR2020  2 non-null      float64
dtypes: float64(61)
memory usage: 128.8+ KB

In [14]:
burnZS.info()

<class 'pandas.core.frame.DataFrame'>
Index: 266 entries, ABW to ZWE
Data columns (total 61 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   YR1960  0 non-null      float64
 1   YR1961  0 non-null      float64
 2   YR1962  0 non-null      float64
 3   YR1963  0 non-null      float64
 4   YR1964  0 non-null      float64
 5   YR1965  0 non-null      float64
 6   YR1966  0 non-null      float64
 7   YR1967  0 non-null      float64
 8   YR1968  0 non-null      float64
 9   YR1969  0 non-null      float64
 10  YR1970  0 non-null      float64
 11  YR1971  0 non-null      float64
 12  YR1972  0 non-null      float64
 13  YR1973  0 non-null      float64
 14  YR1974  0 non-null      float64
 15  YR1975  0 non-null      float64
 16  YR1976  0 non-null      float64
 17  YR1977  0 non-null      float64
 18  YR1978  0 non-null      float64
 19  YR1979  0 non-null      float64
 20  YR1980  0 non-null      float64
 21  YR1981  0 non-null      float64
 22  YR1982  0 non-null      float64
 23  YR1983  0 non-null      float64
 24  YR1984  0 non-null      float64
 25  YR1985  0 non-null      float64
 26  YR1986  0 non-null      float64
 27  YR1987  0 non-null      float64
 28  YR1988  0 non-null      float64
 29  YR1989  0 non-null      float64
 30  YR1990  0 non-null      float64
 31  YR1991  0 non-null      float64
 32  YR1992  0 non-null      float64
 33  YR1993  0 non-null      float64
 34  YR1994  0 non-null      float64
 35  YR1995  0 non-null      float64
 36  YR1996  0 non-null      float64
 37  YR1997  0 non-null      float64
 38  YR1998  0 non-null      float64
 39  YR1999  1 non-null      float64
 40  YR2000  6 non-null      float64
 41  YR2001  5 non-null      float64
 42  YR2002  4 non-null      float64
 43  YR2003  9 non-null      float64
 44  YR2004  5 non-null      float64
 45  YR2005  15 non-null     float64
 46  YR2006  24 non-null     float64
 47  YR2007  10 non-null     float64
 48  YR2008  8 non-null      float64
 49  YR2009  8 non-null      float64
 50  YR2010  10 non-null     float64
 51  YR2011  9 non-null      float64
 52  YR2012  13 non-null     float64
 53  YR2013  12 non-null     float64
 54  YR2014  10 non-null     float64
 55  YR2015  8 non-null      float64
 56  YR2016  12 non-null     float64
 57  YR2017  6 non-null      float64
 58  YR2018  12 non-null     float64
 59  YR2019  2 non-null      float64
 60  YR2020  2 non-null      float64
dtypes: float64(61)
memory usage: 128.8+ KB

In [15]:
goesZS.info()

<class 'pandas.core.frame.DataFrame'>
Index: 266 entries, ABW to ZWE
Data columns (total 61 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   YR1960  0 non-null      float64
 1   YR1961  0 non-null      float64
 2   YR1962  0 non-null      float64
 3   YR1963  0 non-null      float64
 4   YR1964  0 non-null      float64
 5   YR1965  0 non-null      float64
 6   YR1966  0 non-null      float64
 7   YR1967  0 non-null      float64
 8   YR1968  0 non-null      float64
 9   YR1969  0 non-null      float64
 10  YR1970  0 non-null      float64
 11  YR1971  0 non-null      float64
 12  YR1972  0 non-null      float64
 13  YR1973  0 non-null      float64
 14  YR1974  0 non-null      float64
 15  YR1975  0 non-null      float64
 16  YR1976  0 non-null      float64
 17  YR1977  0 non-null      float64
 18  YR1978  0 non-null      float64
 19  YR1979  0 non-null      float64
 20  YR1980  0 non-null      float64
 21  YR1981  0 non-null      float64
 22  YR1982  0 non-null      float64
 23  YR1983  0 non-null      float64
 24  YR1984  0 non-null      float64
 25  YR1985  0 non-null      float64
 26  YR1986  0 non-null      float64
 27  YR1987  0 non-null      float64
 28  YR1988  0 non-null      float64
 29  YR1989  0 non-null      float64
 30  YR1990  0 non-null      float64
 31  YR1991  0 non-null      float64
 32  YR1992  0 non-null      float64
 33  YR1993  0 non-null      float64
 34  YR1994  0 non-null      float64
 35  YR1995  0 non-null      float64
 36  YR1996  0 non-null      float64
 37  YR1997  0 non-null      float64
 38  YR1998  0 non-null      float64
 39  YR1999  1 non-null      float64
 40  YR2000  6 non-null      float64
 41  YR2001  5 non-null      float64
 42  YR2002  4 non-null      float64
 43  YR2003  8 non-null      float64
 44  YR2004  5 non-null      float64
 45  YR2005  17 non-null     float64
 46  YR2006  24 non-null     float64
 47  YR2007  11 non-null     float64
 48  YR2008  7 non-null      float64
 49  YR2009  8 non-null      float64
 50  YR2010  10 non-null     float64
 51  YR2011  9 non-null      float64
 52  YR2012  14 non-null     float64
 53  YR2013  12 non-null     float64
 54  YR2014  10 non-null     float64
 55  YR2015  8 non-null      float64
 56  YR2016  12 non-null     float64
 57  YR2017  7 non-null      float64
 58  YR2018  12 non-null     float64
 59  YR2019  2 non-null      float64
 60  YR2020  2 non-null      float64
dtypes: float64(61)
memory usage: 128.8+ KB

In [16]:
neglZS.info()

<class 'pandas.core.frame.DataFrame'>
Index: 266 entries, ABW to ZWE
Data columns (total 61 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   YR1960  0 non-null      float64
 1   YR1961  0 non-null      float64
 2   YR1962  0 non-null      float64
 3   YR1963  0 non-null      float64
 4   YR1964  0 non-null      float64
 5   YR1965  0 non-null      float64
 6   YR1966  0 non-null      float64
 7   YR1967  0 non-null      float64
 8   YR1968  0 non-null      float64
 9   YR1969  0 non-null      float64
 10  YR1970  0 non-null      float64
 11  YR1971  0 non-null      float64
 12  YR1972  0 non-null      float64
 13  YR1973  0 non-null      float64
 14  YR1974  0 non-null      float64
 15  YR1975  0 non-null      float64
 16  YR1976  0 non-null      float64
 17  YR1977  0 non-null      float64
 18  YR1978  0 non-null      float64
 19  YR1979  0 non-null      float64
 20  YR1980  0 non-null      float64
 21  YR1981  0 non-null      float64
 22  YR1982  0 non-null      float64
 23  YR1983  0 non-null      float64
 24  YR1984  0 non-null      float64
 25  YR1985  0 non-null      float64
 26  YR1986  0 non-null      float64
 27  YR1987  0 non-null      float64
 28  YR1988  0 non-null      float64
 29  YR1989  0 non-null      float64
 30  YR1990  0 non-null      float64
 31  YR1991  0 non-null      float64
 32  YR1992  0 non-null      float64
 33  YR1993  0 non-null      float64
 34  YR1994  0 non-null      float64
 35  YR1995  0 non-null      float64
 36  YR1996  0 non-null      float64
 37  YR1997  0 non-null      float64
 38  YR1998  0 non-null      float64
 39  YR1999  1 non-null      float64
 40  YR2000  6 non-null      float64
 41  YR2001  5 non-null      float64
 42  YR2002  4 non-null      float64
 43  YR2003  9 non-null      float64
 44  YR2004  5 non-null      float64
 45  YR2005  17 non-null     float64
 46  YR2006  24 non-null     float64
 47  YR2007  11 non-null     float64
 48  YR2008  8 non-null      float64
 49  YR2009  8 non-null      float64
 50  YR2010  10 non-null     float64
 51  YR2011  9 non-null      float64
 52  YR2012  14 non-null     float64
 53  YR2013  12 non-null     float64
 54  YR2014  10 non-null     float64
 55  YR2015  8 non-null      float64
 56  YR2016  12 non-null     float64
 57  YR2017  7 non-null      float64
 58  YR2018  12 non-null     float64
 59  YR2019  2 non-null      float64
 60  YR2020  2 non-null      float64
dtypes: float64(61)
memory usage: 128.8+ KB

In [17]:
refuZS.info()

<class 'pandas.core.frame.DataFrame'>
Index: 266 entries, ABW to ZWE
Data columns (total 61 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   YR1960  0 non-null      float64
 1   YR1961  0 non-null      float64
 2   YR1962  0 non-null      float64
 3   YR1963  0 non-null      float64
 4   YR1964  0 non-null      float64
 5   YR1965  0 non-null      float64
 6   YR1966  0 non-null      float64
 7   YR1967  0 non-null      float64
 8   YR1968  0 non-null      float64
 9   YR1969  0 non-null      float64
 10  YR1970  0 non-null      float64
 11  YR1971  0 non-null      float64
 12  YR1972  0 non-null      float64
 13  YR1973  0 non-null      float64
 14  YR1974  0 non-null      float64
 15  YR1975  0 non-null      float64
 16  YR1976  0 non-null      float64
 17  YR1977  0 non-null      float64
 18  YR1978  0 non-null      float64
 19  YR1979  0 non-null      float64
 20  YR1980  0 non-null      float64
 21  YR1981  0 non-null      float64
 22  YR1982  0 non-null      float64
 23  YR1983  0 non-null      float64
 24  YR1984  0 non-null      float64
 25  YR1985  0 non-null      float64
 26  YR1986  0 non-null      float64
 27  YR1987  0 non-null      float64
 28  YR1988  0 non-null      float64
 29  YR1989  0 non-null      float64
 30  YR1990  0 non-null      float64
 31  YR1991  0 non-null      float64
 32  YR1992  0 non-null      float64
 33  YR1993  0 non-null      float64
 34  YR1994  0 non-null      float64
 35  YR1995  0 non-null      float64
 36  YR1996  0 non-null      float64
 37  YR1997  0 non-null      float64
 38  YR1998  0 non-null      float64
 39  YR1999  1 non-null      float64
 40  YR2000  6 non-null      float64
 41  YR2001  5 non-null      float64
 42  YR2002  3 non-null      float64
 43  YR2003  9 non-null      float64
 44  YR2004  5 non-null      float64
 45  YR2005  17 non-null     float64
 46  YR2006  24 non-null     float64
 47  YR2007  10 non-null     float64
 48  YR2008  8 non-null      float64
 49  YR2009  8 non-null      float64
 50  YR2010  10 non-null     float64
 51  YR2011  9 non-null      float64
 52  YR2012  13 non-null     float64
 53  YR2013  12 non-null     float64
 54  YR2014  10 non-null     float64
 55  YR2015  8 non-null      float64
 56  YR2016  12 non-null     float64
 57  YR2017  7 non-null      float64
 58  YR2018  11 non-null     float64
 59  YR2019  2 non-null      float64
 60  YR2020  2 non-null      float64
dtypes: float64(61)
memory usage: 128.8+ KB

In [23]:
arguYR = arguZS.dropna(axis = 1, how = 'all') # 열 기준 삭제, 모두 결측치 일 때만 삭제

In [24]:
arguYR

,YR1999,YR2000,YR2001,YR2002,YR2003,YR2004,YR2005,YR2006,YR2007,YR2008,...,YR2011,YR2012,YR2013,YR2014,YR2015,YR2016,YR2017,YR2018,YR2019,YR2020
economy,,,,,,,,,,,,,,,,,,,,,
ABW,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
AFE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
AFG,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,59.2,NaN,NaN,NaN,NaN,NaN
AFW,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
AGO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,15.2,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
XKX,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
YEM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,19.9,NaN,NaN,NaN,NaN,NaN,NaN,NaN
ZAF,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,2.2,NaN,NaN,NaN,NaN
ZMB,NaN,NaN,NaN,52.1,NaN,NaN,NaN,NaN,43.1,NaN,...,NaN,NaN,NaN,33.5,NaN,NaN,NaN,32.2,NaN,NaN
ZWE,31.7,NaN,NaN,NaN,NaN,NaN,NaN,26.0,NaN,NaN,...,15.6,NaN,NaN,NaN,16.7,NaN,NaN,NaN,NaN,NaN

In [25]:
arguCR = arguYR.dropna(axis = 0, how = 'all')
arguCR

,YR1999,YR2000,YR2001,YR2002,YR2003,YR2004,YR2005,YR2006,YR2007,YR2008,...,YR2011,YR2012,YR2013,YR2014,YR2015,YR2016,YR2017,YR2018,YR2019,YR2020
economy,,,,,,,,,,,,,,,,,,,,,
AFG,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,59.2,NaN,NaN,NaN,NaN,NaN
AGO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,15.2,NaN,NaN,NaN,NaN
ALB,NaN,NaN,NaN,NaN,NaN,NaN,8.7,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.8,NaN,NaN
ARM,NaN,14.3,NaN,NaN,NaN,NaN,14.8,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,6.1,NaN,NaN,NaN,NaN
AZE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,31.3,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
VNM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,37.2,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
YEM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,19.9,NaN,NaN,NaN,NaN,NaN,NaN,NaN
ZAF,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,2.2,NaN,NaN,NaN,NaN
ZMB,NaN,NaN,NaN,52.1,NaN,NaN,NaN,NaN,43.1,NaN,...,NaN,NaN,NaN,33.5,NaN,NaN,NaN,32.2,NaN,NaN
ZWE,31.7,NaN,NaN,NaN,NaN,NaN,NaN,26.0,NaN,NaN,...,15.6,NaN,NaN,NaN,16.7,NaN,NaN,NaN,NaN,NaN

### 결국, 결측치를 지우고 나면 데이터는 처음 생각했던 것처럼 국가별로 방대하게 생각하기에는 데이터가 매우 협소한 편이지만 어쨌든 (국가, 연도, 비율) 데이터가 있는 것이므로, 이를 통해 상관관계 파악가능

In [26]:
# 폭력 널값 전처리
def ZSDrop(df):
    dfYR = df.dropna(axis = 1, how = 'all')
    dfCR = dfYR.dropna(axis = 0, how = 'all')
    return dfCR

In [27]:
burnCR = ZSDrop(burnZS)
goesCR = ZSDrop(goesZS)
neglCR = ZSDrop(neglZS)
refuCR = ZSDrop(refuZS)

In [28]:
burnCR

,YR1999,YR2000,YR2001,YR2002,YR2003,YR2004,YR2005,YR2006,YR2007,YR2008,...,YR2011,YR2012,YR2013,YR2014,YR2015,YR2016,YR2017,YR2018,YR2019,YR2020
economy,,,,,,,,,,,,,,,,,,,,,
AFG,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,18.2,NaN,NaN,NaN,NaN,NaN
AGO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,10.5,NaN,NaN,NaN,NaN
ALB,NaN,NaN,NaN,NaN,NaN,NaN,3.1,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.8,NaN,NaN
ARM,NaN,4.9,NaN,NaN,NaN,NaN,2.1,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.4,NaN,NaN,NaN,NaN
AZE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12.1,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
VNM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,17.9,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
YEM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,9.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN
ZAF,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN
ZMB,NaN,NaN,NaN,45.4,NaN,NaN,NaN,NaN,32.9,NaN,...,NaN,NaN,NaN,23.5,NaN,NaN,NaN,21.3,NaN,NaN
ZWE,12.0,NaN,NaN,NaN,NaN,NaN,NaN,12.2,NaN,NaN,...,7.5,NaN,NaN,NaN,8.1,NaN,NaN,NaN,NaN,NaN

In [65]:
# 자살률 데이터
suicDT = wb.data.DataFrame('SH.STA.SUIC.FE.P5')

### 자살률 데이터는 2000년 부터 2019년 까지만 있음.

In [66]:
suicDT.info()

<class 'pandas.core.frame.DataFrame'>
Index: 266 entries, ABW to ZWE
Data columns (total 61 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   YR1960  0 non-null      float64
 1   YR1961  0 non-null      float64
 2   YR1962  0 non-null      float64
 3   YR1963  0 non-null      float64
 4   YR1964  0 non-null      float64
 5   YR1965  0 non-null      float64
 6   YR1966  0 non-null      float64
 7   YR1967  0 non-null      float64
 8   YR1968  0 non-null      float64
 9   YR1969  0 non-null      float64
 10  YR1970  0 non-null      float64
 11  YR1971  0 non-null      float64
 12  YR1972  0 non-null      float64
 13  YR1973  0 non-null      float64
 14  YR1974  0 non-null      float64
 15  YR1975  0 non-null      float64
 16  YR1976  0 non-null      float64
 17  YR1977  0 non-null      float64
 18  YR1978  0 non-null      float64
 19  YR1979  0 non-null      float64
 20  YR1980  0 non-null      float64
 21  YR1981  0 non-null      float64
 22  YR1982  0 non-null      float64
 23  YR1983  0 non-null      float64
 24  YR1984  0 non-null      float64
 25  YR1985  0 non-null      float64
 26  YR1986  0 non-null      float64
 27  YR1987  0 non-null      float64
 28  YR1988  0 non-null      float64
 29  YR1989  0 non-null      float64
 30  YR1990  0 non-null      float64
 31  YR1991  0 non-null      float64
 32  YR1992  0 non-null      float64
 33  YR1993  0 non-null      float64
 34  YR1994  0 non-null      float64
 35  YR1995  0 non-null      float64
 36  YR1996  0 non-null      float64
 37  YR1997  0 non-null      float64
 38  YR1998  0 non-null      float64
 39  YR1999  0 non-null      float64
 40  YR2000  231 non-null    float64
 41  YR2001  231 non-null    float64
 42  YR2002  231 non-null    float64
 43  YR2003  231 non-null    float64
 44  YR2004  231 non-null    float64
 45  YR2005  231 non-null    float64
 46  YR2006  231 non-null    float64
 47  YR2007  231 non-null    float64
 48  YR2008  231 non-null    float64
 49  YR2009  231 non-null    float64
 50  YR2010  231 non-null    float64
 51  YR2011  231 non-null    float64
 52  YR2012  231 non-null    float64
 53  YR2013  231 non-null    float64
 54  YR2014  231 non-null    float64
 55  YR2015  231 non-null    float64
 56  YR2016  231 non-null    float64
 57  YR2017  231 non-null    float64
 58  YR2018  231 non-null    float64
 59  YR2019  231 non-null    float64
 60  YR2020  0 non-null      float64
dtypes: float64(61)
memory usage: 128.8+ KB

In [74]:
def btTotal():
    for(i=)
burnCR.iloc[:,0]

economy
AFG     NaN
AGO     NaN
ALB     NaN
ARM     NaN
AZE     NaN
       ...
VNM     NaN
YEM     NaN
ZAF     NaN
ZMB     NaN
ZWE    12.0
Name: YR1999, Length: 82, dtype: float64

In [102]:
for i in range (82):
    for j in range (22) :
        if(burnCR.iloc[i, j] >= 0):
            print(1999+j, burnCR.index[i], burnCR.iloc[i, j])

2015 AFG 18.2
2016 AGO 10.5
2005 ALB 3.1
2009 ALB 4.4
2018 ALB 0.8
2000 ARM 4.9
2005 ARM 2.1
2010 ARM 0.3
2016 ARM 0.4
2006 AZE 12.1
2010 BDI 25.0
2017 BDI 22.0
2001 BEN 29.2
2006 BEN 19.0
2012 BEN 6.0
2018 BEN 13.9
2003 BFA 26.3
2006 BFA 22.5
2010 BFA 9.8
2011 BGD 4.1
2014 BGD 4.3
2018 BGD 1.2
2006 BIH 0.6
2006 BLZ 2.1
2003 BOL 5.4
2008 BOL 3.3
2012 CIV 16.4
2004 CMR 19.2
2011 CMR 13.6
2018 CMR 8.2
2007 COD 28.2
2014 COD 24.4
2010 COL 0.2
2015 COL 1.1
2012 COM 12.7
2002 DOM 2.4
2007 DOM 1.0
2013 DOM 0.6
2005 EGY 19.0
2008 EGY 7.9
2014 EGY 7.0
2002 ERI 29.1
2000 ETH 64.5
2005 ETH 61.0
2011 ETH 47.3
2016 ETH 39.8
2012 GAB 10.6
2005 GEO 1.0
2003 GHA 13.9
2008 GHA 8.3
2014 GHA 7.4
2005 GIN 34.9
2012 GIN 46.2
2018 GIN 23.6
2006 GMB 16.0
2013 GMB 10.6
2020 GMB 10.8
2006 GNB 12.3
2015 GTM 4.2
2007 GUY 6.8
2009 GUY 3.5
2006 HND 5.5
2012 HND 4.2
2000 HTI 10.8
2006 HTI 9.0
2012 HTI 3.6
2017 HTI 4.0
2003 IDN 3.0
2007 IDN 3.1
2012 IDN 2.5
2017 IDN 1.7
2006 IND 20.4
2016 IND 19.1
2002 JOR 59.5
2007 JOR 7.7
2012 JOR 1.8
2018 JOR 2.4
2006 KAZ 1.8
2003 KEN 16.3
2009 KEN 13.4
2014 KEN 7.0
2006 KGZ 11.3
2012 KGZ 6.3
2010 KHM 13.3
2014 KHM 11.7
2007 LBR 14.0
2013 LBR 7.4
2020 LBR 9.7
2004 LSO 12.6
2009 LSO 6.3
2014 LSO 6.3
2004 MAR 23.6
2005 MDA 4.2
2004 MDG 8.3
2009 MDG 7.2
2009 MDV 6.3
2005 MKD 5.2
2001 MLI 33.6
2006 MLI 23.4
2013 MLI 26.3
2018 MLI 22.6
2016 MMR 12.7
2006 MNE 1.8
2005 MNG 3.3
2003 MOZ 23.7
2011 MOZ 6.4
2015 MOZ 2.4
2000 MWI 16.5
2004 MWI 11.4
2010 MWI 4.5
2016 MWI 5.5
2007 NAM 12.4
2013 NAM 10.0
2006 NER 43.9
2012 NER 34.6
2003 NGA 30.7
2008 NGA 16.2
2013 NGA 14.2
2018 NGA 14.5
2001 NIC 4.5
2001 NPL 5.0
2006 NPL 3.0
2011 NPL 0.1
2016 NPL 3.4
2013 PAK 18.4
2018 PAK 18.3
2006 PER 0.6
2008 PER 1.2
2009 PER 1.9
2010 PER 1.4
2011 PER 1.0
2012 PER 1.1
2003 PHL 3.1
2008 PHL 2.1
2013 PHL 1.8
2017 PHL 1.3
2018 PNG 33.8
2000 RWA 22.4
2005 RWA 10.7
2010 RWA 18.8
2015 RWA 8.9
2005 SEN 23.4
2011 SEN 24.4
2013 SEN 18.7
2014 SEN 20.1
2015 SEN 22.6
2016 SEN 18.7
2017 SEN 22.1
2018 SEN 20.9
2019 SEN 18.9
2005 SLE 54.5
2008 SLE 24.5
2013 SLE 18.3
2019 SLE 11.7
2006 SOM 29.0
2006 SRB 0.7
2009 STP 6.4
2007 SWZ 2.9
2015 TCD 48.6
2006 TGO 28.4
2014 TGO 11.2
2005 TJK 43.7
2012 TJK 28.3
2017 TJK 29.6
2000 TKM 21.8
2010 TLS 43.2
2016 TLS 31.8
2006 TTO 0.7
2003 TUR 5.8
2008 TUR 2.5
2013 TUR 1.2
2005 TZA 19.6
2010 TZA 17.8
2016 TZA 20.2
2001 UGA 22.2
2006 UGA 23.4
2011 UGA 17.1
2016 UGA 13.6
2005 UKR 0.1
2007 UKR 0.1
2006 VNM 17.9
2013 YEM 9.7
2016 ZAF 1.0
2002 ZMB 45.4
2007 ZMB 32.9
2014 ZMB 23.5
2018 ZMB 21.3
1999 ZWE 12.0
2006 ZWE 12.2
2011 ZWE 7.5
2015 ZWE 8.1

In [100]:
burnCR.index

Index(['AFG', 'AGO', 'ALB', 'ARM', 'AZE', 'BDI', 'BEN', 'BFA', 'BGD', 'BIH',
       'BLZ', 'BOL', 'CIV', 'CMR', 'COD', 'COL', 'COM', 'DOM', 'EGY', 'ERI',
       'ETH', 'GAB', 'GEO', 'GHA', 'GIN', 'GMB', 'GNB', 'GTM', 'GUY', 'HND',
       'HTI', 'IDN', 'IND', 'JOR', 'KAZ', 'KEN', 'KGZ', 'KHM', 'LBR', 'LSO',
       'MAR', 'MDA', 'MDG', 'MDV', 'MKD', 'MLI', 'MMR', 'MNE', 'MNG', 'MOZ',
       'MWI', 'NAM', 'NER', 'NGA', 'NIC', 'NPL', 'PAK', 'PER', 'PHL', 'PNG',
       'RWA', 'SEN', 'SLE', 'SOM', 'SRB', 'STP', 'SWZ', 'TCD', 'TGO', 'TJK',
       'TKM', 'TLS', 'TTO', 'TUR', 'TZA', 'UGA', 'UKR', 'VNM', 'YEM', 'ZAF',
       'ZMB', 'ZWE'],
      dtype='object', name='economy')